body {
    background: rgb(124, 124, 124);
    font: normal 15pt Arial; 
}
header {
    color:rgb(197, 197, 197);
    text-align: center;
    font-style: italic;
    font: normal 25pt italic;
}
footer {
    text-align: left;
    font-style: italic;
    font: normal 25pt italic;
}